{% extends "blog/base.html" %} 
{% load blog_tags %} 
{% block title %}My Blog{% endblock %} 
{% block content %}
<h1 class="text-center font-semibold font-xl ">BLOG</h1>
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
	{% for post in posts %}
	<div class="p-5 rounded-sm shadow-md ">
        <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
        </h2>
        <p class="date"> {{ post.publish }}</p>
        <div class="tags">
            {% for tag in post.tags.all %}
            <a class="tag" href="{% url 'blog:post_list_by_tag' tag.slug%}"> {{ tag.name }} </a>
            {% endfor %}
        </div>
        <small>{{ post.body|markdown|truncatewords_html:30 }}</small>
        <p>{{ post.author }}</p>
    </div>
	{% endfor %}
</div>
{% include "pagination.html" with page=posts %} 
{% endblock %}
